.reports-by-player-container {
  background-color: var(--bg-color);
}

/* Flecha giratoria */
.rotate {
  transform: rotate(90deg);
}

/* Cursor al pasar sobre el encabezado */
.cursor-pointer {
  cursor: pointer;
}

/* Card padding */
.card-body {
  padding: 1.5rem;
}

/* Botón PDF personalizado (si no usas btn-outline-primary) */
.pdf-btn {
  background-color: var(--accent-color);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}

.pdf-btn:hover {
  background-color: #12803a; /* tono más oscuro del verde */
}

.text-primary {
  color: var(--primary-color) !important;
}