.text-primary {
  color: var(--primary-color) !important;
}

.btn-success {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn-outline-primary {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.btn-outline-primary:hover {
  background-color: var(--accent-color);
  color: white;
}
