.text-primary {
  color: var(--primary-color) !important;
}

.btn-success {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn-outline-primary {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.btn-outline-primary:hover {
  background-color: var(--accent-color);
  color: white;
}

/* Input de búsqueda */
input.form-control {
  border-radius: .5rem;
  padding: .5rem .75rem;
  border: 1px solid #cbd5e1;
}
input.form-control:focus {
  box-shadow: 0 0 0 .2rem rgba(29,185,84,.25);
  border-color: var(--accent-color);
}


