:root {
  --primary-color: #0f172a;     /* Azul oscuro elegante */
  --accent-color: #16a34a;      /* Verde profesional */
  --bg-color: #f1f5f9;
  --text-color: #1e293b;
  --card-color: #ffffff;
  --error-color: #dc2626;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Segoe UI', 'Inter', sans-serif;
}

.card {
  border-radius: 1rem;
}

.btn:hover {
  filter: brightness(1.1);
  transition: 0.3s;
}

img {
  user-select: none;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: var(--accent-color) !important;
}
